---
import { getCollection } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";
import ArticlePreview from "../../components/ArticlePreview.astro";

const allArticles = await getCollection("articles");
---

<BaseLayout title="Food Fun Travel | Articles">
  <div class="container">
    <div class="grid-auto-fit">
      {allArticles.map((article) => <ArticlePreview {article} />)}
    </div>
  </div>
</BaseLayout>
