---
import BaseLayout from "../../layouts/BaseLayout.astro";
---

<BaseLayout title="Eva Wu's Tech Blog | About">
  <div class="full-article container flow margin-block-10" data-type="narrow">
    <h1 class="heading-2">Eva Wu</h1>
    <p class="fs-400 clr-neutral-300">更新日期：2025.04.11</p>

    <p>一個喜歡寫程式、寫作、音樂、旅行和探索各種好用軟體產品的台灣人。</p>

    <h2>技術/程式相關的事</h2>
    <ul>
      <li>
        我的 tech stack 目前主要有 JavaScript, TypeScript, CSS, Sass, HTML,
        TailwindCSS, React, Next.js, Astro 這些。
      </li>
      <li>
        前端和後端都稍微碰過，我覺得自己應該比較喜歡前端，但由於經驗關係，我也沒有很百分之百確定這個答案，未來想法會改變的可能性很大。
      </li>
      <li>
        2025 年初的某一天，我把程式編輯器和終端機主題換成了 Solarized
        Light，因為我不想要自己在寫程式的時候看起來像一個駭客。這也開始讓我好奇，用淺色背景在寫程式的人是不是非常少?
      </li>
      <li>
        現在使用的開發環境是 Windows 搭配 WSL2。我也曾經使用過 Mac
        開發一段時間，會轉換單純是因為目前手邊效能最好的筆電是 Windows，而身上的
        Mac 筆電電池已經開始出現問題不太能用了。未來有機會也會想要直接嘗試看看
        Linux。
      </li>
      <li>
        因為我最喜歡的兩個技術 YouTube 頻道創作者都剛好是用 Neovim
        在寫程式(下面會介紹)，這讓我開始對使用 Neovim 開發很有興趣，但因為現在的
        Cursor 實在是太吸引人，所以短期內還不會開始學
        Neovim，不過有規劃想要先嘗試使用 Cursor 搭配 vim mode 開發試試看。
      </li>
    </ul>

    <h2>喜歡的技術 YouTube 頻道</h2>
    <p>
      休息時偶爾會選擇看一些技術類型的 YouTube
      頻道，這裡分享三個我最喜歡的頻道：
    </p>
    <ul>
      <li>
        <a href="https://www.youtube.com/@devaslife/featured">devaslife</a
        >：這個頻道我非常喜歡，頻道形象完美結合了所有我愛的元素，包含軟體開發、筆記軟體、日本、優雅藝術的風格等。頻道的創作者叫
        Takuya，是一個日本人，現在是獨立開發者，經營這個頻道的目的是為了要宣傳他的軟體產品，他還有一個副頻道叫做
        <a href="https://www.youtube.com/@craftzdog/featured"
          >Takuya Matsuyama (craftzdog)</a
        >，也可以看看。
      </li>
      <li>
        <a href="https://www.youtube.com/@ThePrimeTimeagen/featured"
          >ThePrimeTime</a
        >：這個頻道和 <a href="https://www.youtube.com/@devaslife/featured"
          >devaslife</a
        >
        的風格非常不一樣，但兩者大概並列我心目中的技術 YouTube 頻道第一名，頻道的創作者叫
        ThePrimeagen(他自己取的)，他的主戰場是在 Twitch，YouTube 頻道會放 Twitch
        直播後的一些內容。因為他現在是全職在創作內容上(在這之前他是 Netflix 的工程師)，所以影片更新的非常頻繁，影片類型最有名的應該是
        Prime Reacts 系列，在這個系列中，他會看一些別人的文章或影片並做出反應和分享自己的見解，有時候看他的反應會覺得還蠻舒壓的，是會會心一笑的那種。他在
        YouTube 上還有其他三個頻道，分別是
        <a href="https://www.youtube.com/@ThePrimeagen/featured">ThePrimeagen</a
        >、<a href="https://www.youtube.com/@TheVimeagen">TheVimeagen</a>
        和
        <a href="https://www.youtube.com/@ThePrimeagenClips/featured"
          >ThePrimeagenClips</a
        >，也可以看看。
      </li>
      <li>
        <a href="https://www.youtube.com/@t3dotgg">Theo - t3․gg</a
        >：這也是一個我還蠻常看的頻道，他和 <a
          href="https://www.youtube.com/@ThePrimeTimeagen/featured"
          >ThePrimeTime</a
        >
        在美國應該是數一數二知名的技術 YouTube 頻道，頻道的創作者叫 Theo，他的頻道更新也非常頻繁，現在應該算是全職在創作上(之前他是
        Twitch 的工程師)，不過他也有同時在開發很多軟體產品，最近看到的產品是 <a
          href="https://t3.chat/chat">T3 Chat</a
        >。
      </li>
    </ul>

    <h2>最近在看的書</h2>
    <p>
      我想要培養多閱讀書籍的習慣，現在大概會在睡前、睡不著或短暫的零碎時間來看一些書，最近在看的書有以下三本。
    </p>
    <ul>
      <li>
        <a
          href="https://www.kobo.com/tw/zh/ebook/JLmqI-9ORDGDPe4mV5k3Lw?srsltid=AfmBOoqS8HTQkwWRmUFlH5C-T4PadF3AgiD-CIMiuEU4kZNqVdgbilXb"
          >人類大歷史</a
        >：我對於哲學、人生思考這類型的領域也算是蠻有興趣的，會有興趣的原因可能是因為我天生的個性好像本來就比別人喜歡做更多的自我思考和對話；另外，我希望在我的一生結束以前可以真正理解生命是什麼?
        人活著的意義是什麼? 或是其實沒有意義? 我想要給自己一個我的答案。<a
          href="https://www.kobo.com/tw/zh/ebook/JLmqI-9ORDGDPe4mV5k3Lw?srsltid=AfmBOoqS8HTQkwWRmUFlH5C-T4PadF3AgiD-CIMiuEU4kZNqVdgbilXb"
          >人類大歷史</a
        >這本書算是蠻有名的，它躺在我的電子書閱讀器裡面很久了，近期終於把它打開來看，而打開它的動力就是我想要用更長更廣的視角來看待這個世界，這樣或許對於我好奇的人生問題會有進一步的理解和解答吧。
      </li>
      <li>
        <a
          href="http://kobo.com/tw/zh/ebook/pwc7eCvgGDCWeS4W0b4eIQ?srsltid=AfmBOoquqyW0Ng2Wtio96MlyhNr9r0CqpByegNtT1YQNsIYJkh-TOddz"
          >非虛構寫作指南</a
        >：我很喜歡紀錄和寫筆記，如果把這些文字進一步變成寫作素材，我覺得是一件很棒的事，所以除了閱讀習慣，我也想要培養寫作分享的習慣；另外，我想要擁有把文字寫得更有溫度和有自己獨特風格的能力，看到有人推薦這本書，聽說是寫非小說類書籍的經典，那就來閱讀看看吧。
      </li>
      <li>
        <a
          href="https://www.books.com.tw/products/F019169583?srsltid=AfmBOoqcgGb0pLUpZ6TX2zogKefbOzzSbOMmj4Bmy1BEcQP1AvoFLJ1s"
          >The Art of Doing Science and Engineering</a
        >：這本書好像沒有中文版，它應該是在講學習如何學習的書，不過是用工程領域的切角來寫。我不是一個聰明的人，在過往的經驗中，當我接收到別人對我用聰明、厲害等這類字詞形容我的某項成就、做的某件事情，或是我這一個人時，我內心會很清楚知道這是因為我比一般人更有辦法忍受痛苦、更願意付出心力和做出犧牲，但這對長期來說很傷且無法持久，我需要找到一套適合自己的學習方法和善用外在工具來幫助我理解任何東西的速度加快且記憶持久，希望這本書可以對我有所幫助和啟發。
      </li>
    </ul>
    <p>
      這個頁面還沒有完全寫完。理想上，我會把我想要分享的面向都盡可能的寫出來，所以歡迎偶爾想到就回來逛逛。
    </p>
    <p>
      最後，如果想要聯繫我或是和我交流都很歡迎！最好的方式是寫信給我(yiju.wu1@gmail.com)，基本上只要很好回覆或是我有興趣我都會回。當然，如果你偏好使用其他社群軟體和我聯繫也可以，只是我不會很常點開(或是我也不確定軟體本身會不會檔陌生訊息)，所以可以預期得到回覆的速度會比較慢。
    </p>
  </div>
</BaseLayout>
