---
import BaseLayout from "../../layouts/BaseLayout.astro";
import { useTranslations } from "../../utils/translations";

const locale = "zh-tw";
const { t } = useTranslations(locale);
---

<BaseLayout withGradient title="Eva Wu 的個人網站" locale={locale}>
  <div class="container flow">
    <section class="section">
      <h1 class="heading-1">{t("site.title")}</h1>
      <div class="fs-600 margin-block-start-6 homepage-description">
        <p>歡迎來到我的個人網站，目前這個網站主要有兩個頁面：</p>
        <ul>
          <li>
            <a href={`/${locale}/writing/`}>我的文章</a>：我想要盡可能的把人生對我來說有意義的事或想法紀錄下來。這裡收錄了我撰寫的各類文章——從我感興趣的事物到學習筆記。
          </li>
          <li>
            <a href={`/${locale}/stream/`}>短分享</a>：這裡就像是我的個人 X/Threads，會收錄各種短的、即時的、還沒完整到可以成為文章的內容。
          </li>
        </ul>
      </div>
    </section>
  </div>
</BaseLayout>

<style>
  .homepage-description ul {
    margin-top: 1rem;
    padding-left: 1.5rem;
  }

  .homepage-description li {
    margin-bottom: 0.75rem;
  }
</style>
