---
import BaseLayout from "../../layouts/BaseLayout.astro";
---

<BaseLayout title="Eva Wu's Tech Blog | About">
  <div class="full-article container flow margin-block-10" data-type="narrow">
    <h1 class="heading-2">Eva Wu</h1>
    <p class="fs-400 clr-neutral-300">Last updated: April 11, 2025</p>

    <p>
      I'm a Taiwanese who loves programming, writing, music, traveling, and
      exploring various useful software products.
    </p>

    <h2>Tech & Programming</h2>
    <ul>
      <li>
        My tech stack currently includes JavaScript, TypeScript, CSS, Sass,
        HTML, TailwindCSS, React, Next.js, and Astro.
      </li>
      <li>
        I've dabbled in both frontend and backend development. I think I prefer
        frontend, but given my limited experience, I'm not 100% certain of this
        answer—my preferences might change significantly in the future.
      </li>
      <li>
        In early 2025, I switched my code editor and terminal theme to Solarized
        Light because I didn't want to look like a hacker while coding. This
        made me wonder: are developers who use light backgrounds actually rare?
      </li>
      <li>
        My current development environment is Windows with WSL2. I've also used
        a Mac for development for some time, but switched simply because my
        best-performing laptop runs Windows, while my Mac's battery has started
        to deteriorate. In the future, I'd like to try Linux directly.
      </li>
      <li>
        Since my two favorite tech YouTube creators both happen to use Neovim
        (introduced below), I've become interested in developing with Neovim.
        However, Cursor is too appealing right now, so I won't start learning
        Neovim immediately, though I do plan to try using Cursor with vim mode.
      </li>
    </ul>

    <h2>Favorite Tech YouTube Channels</h2>
    <p>
      During breaks, I occasionally watch tech YouTube channels. Here are my
      three favorites:
    </p>
    <ul>
      <li>
        <a href="https://www.youtube.com/@devaslife/featured">devaslife</a>: I
        absolutely love this channel. It perfectly combines all the elements I
        enjoy: software development, note-taking apps, Japan, and elegant
        artistic style. The creator, Takuya, is Japanese and currently an
        independent developer. He runs this channel to promote his software
        products. He also has a side channel called
        <a href="https://www.youtube.com/@craftzdog/featured"
          >Takuya Matsuyama (craftzdog)</a
        >, which is worth checking out too.
      </li>
      <li>
        <a href="https://www.youtube.com/@ThePrimeTimeagen/featured"
          >ThePrimeTime</a
        >: This channel has a very different style from <a
          href="https://www.youtube.com/@devaslife/featured">devaslife</a
        >, but they're tied for first place in my heart. The creator goes by
        ThePrimeagen (his chosen name), and his main platform is Twitch. His
        YouTube channel features content from his Twitch streams. Since he now
        creates content full-time (he was previously an engineer at Netflix), he
        updates his videos very frequently. His most famous series is probably
        Prime Reacts, where he watches and reacts to other people's articles or
        videos while sharing his own insights. Sometimes watching his reactions
        can be quite stress-relieving and bring a smile to your face. He has
        three other channels on YouTube: <a
          href="https://www.youtube.com/@ThePrimeagen/featured">ThePrimeagen</a
        >, <a href="https://www.youtube.com/@TheVimeagen">TheVimeagen</a>, and <a
          href="https://www.youtube.com/@ThePrimeagenClips/featured"
          >ThePrimeagenClips</a
        >, which are also worth checking out.
      </li>
      <li>
        <a href="https://www.youtube.com/@t3dotgg">Theo - t3․gg</a>: This is
        another channel I watch quite often. Along with <a
          href="https://www.youtube.com/@ThePrimeTimeagen/featured"
          >ThePrimeTime</a
        >, it's probably one of the most well-known tech YouTube channels in the
        US. The creator, Theo, also updates his channel very frequently. He's
        currently working on content creation full-time (he was previously an
        engineer at Twitch), but he's also developing many software products
        simultaneously. The most recent product I've seen is <a
          href="https://t3.chat/chat">T3 Chat</a
        >.
      </li>
    </ul>

    <h2>Books I'm Currently Reading</h2>
    <p>
      I want to cultivate a habit of reading more books. Currently, I read
      before bed, when I can't sleep, or during brief moments of free time. Here
      are three books I've been reading lately:
    </p>
    <ul>
      <li>
        <a
          href="https://www.amazon.com/Sapiens-Humankind-Yuval-Noah-Harari/dp/0062316095"
          >Sapiens: A Brief History of Humankind</a
        >: I'm quite interested in philosophy and life contemplation, probably
        because my personality naturally inclines me toward self-reflection and
        internal dialogue more than others. Additionally, before my life ends, I
        hope to truly understand what life is, what the meaning of human
        existence is, or if there is no meaning at all. I want to find my own
        answer.

        <a
          href="https://www.amazon.com/Sapiens-Humankind-Yuval-Noah-Harari/dp/0062316095"
          >Sapiens</a
        > is quite famous. It's been sitting in my e-reader for a long time, and
        I've finally opened it recently. My motivation for reading it is to view
        the world from a longer and broader perspective, which might provide further
        understanding and answers to the life questions I'm curious about.
      </li>
      <li>
        <a
          href="https://www.amazon.com/Writing-Well-Classic-Guide-Nonfiction/dp/0060891548"
          >On Writing Well</a
        >: I love documenting and taking notes. I think it's wonderful to
        further transform these texts into writing materials. So apart from
        developing a reading habit, I also want to cultivate a habit of writing
        and sharing. I want to have the ability to write with more warmth and my
        own unique style. I heard someone recommend this book, saying it's a
        classic for writing non-fiction, so I decided to give it a read.
      </li>
      <li>
        <a
          href="https://www.amazon.com/Art-Doing-Science-Engineering-Learning/dp/1732265178"
          >The Art of Doing Science and Engineering</a
        >: It appears to be about learning how to learn, but from an engineering
        perspective. I'm not a naturally smart person. In past experiences, when
        people describe my achievements, actions, or myself with words like
        "smart" or "impressive," I know deep down that it's because I'm more
        willing than the average person to endure pain, put in effort, and make
        sacrifices. But this is damaging and unsustainable in the long run. I
        need to find a learning method suitable for myself and leverage external
        tools to help me understand things faster and remember them longer. I
        hope this book can help and inspire me.
      </li>
    </ul>
    <p>
      This page is not yet complete. Ideally, I would write out all the aspects
      I want to share, so feel free to check back occasionally.
    </p>
    <p>
      Finally, as English is not my native language, the articles here may not
      perfectly capture what I intend to express. Some sentences might seem
      awkward or unnatural, and I apologize for that. Nevertheless, I'd love to
      hear from you! The best way to reach me is by email (yiju.wu1@gmail.com).
      I generally respond if I can provide a meaningful reply or if the topic
      interests me. While you're welcome to contact me through other social
      media platforms, I check them less frequently (and platforms might filter
      messages from strangers), so responses may be slower through those
      channels.
    </p>
  </div>
</BaseLayout>
