---
import { getCollection } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";

const allArticles = await getCollection("articles");
const uniqueTags = [
  ...new Set(allArticles.map((article) => article.data.tags).flat()),
];
---

<BaseLayout title="Tag Index">
  <div class="container">
    <div class="">
      {
        uniqueTags.map((tag) => {
          const slugFriendlyTag = tag.toLowerCase().replace(/\s+/g, "-");
          return (
            <p class="">
              <a href={`/tags/${slugFriendlyTag}`}>{tag}</a>
            </p>
          );
        })
      }
    </div>
  </div>
</BaseLayout>
