---
import { getCollection } from "astro:content";

import BaseLayout from "../layouts/BaseLayout.astro";
// import ArticlePreview from "../components/ArticlePreview.astro";

const allArticles = await getCollection("articles");
allArticles.sort(
  (a, b) => Date.parse(b.data.updateDate) - Date.parse(a.data.updateDate)
);
---

<BaseLayout title="Eva Wu's Tech Blog | About">
  <div class="full-article container flow margin-block-10" data-type="narrow">
    <h1 class="heading-2">Eva Wu</h1>
    <p class="fs-600">
      軟體開發者，除了寫程式，也喜歡寫作、音樂、旅行和探索各種好用的軟體產品。
      <!-- 深深體會到好的軟體可以賦予人們全新能力的強大力量，因此致力於打造出好用的軟體產品以對社會產生正面影響力。 -->
      <br />
      最後，如果想要聯繫我或是和我交流我都很歡迎！最好的方式是寫信給我()，基本上只要我有興趣或是很好回覆的我都會回。當然，如果你偏好使用其他社群軟體和我聯繫也可以，只是我不會很常點開(或是我也不確定軟體本身會不會檔陌生訊息)，所以可以預期得到回覆的速度會比較慢。
    </p>
    <!-- <div class="container margin-block-10 flow">
    <h2 class="heading-2">閱讀我最新的三篇文章</h2>
    <div class="grid-auto-fit">
      {allArticles.slice(0, 3).map((article) => <ArticlePreview {article} />)}
    </div>
  </div> -->
  </div>
</BaseLayout>
