---
import { getCollection } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";
import ArticlePreview from "../components/ArticlePreview.astro";
import SiteHeader from "../components/SiteHeader.astro";
import SiteFooter from "../components/SiteFooter.astro";

const allArticles = await getCollection("articles");
const featuredArticles = await getCollection("articles", ({ data }) => {
  return data.featured;
});
---

<BaseLayout withGradient title="Eva Wu's Tech Blog">
  <div class="container flow">
    <section class="section">
      <h1 class="heading-1">Eva Wu's<br />Tech Blog</h1>
      <p class="fs-600">
        This is my personal tech blog, primarily dedicated to programming study
        notes and software/digital-related content.
        Occasionally, I may also share aspects of my personal life.
      </p>
    </section>

    <section class="section flow">
      <h2 class="heading-2">Featured articles</h2>
      <div class="home-featured-grid">
        <ArticlePreview article={featuredArticles[0]} excerptLength="200" />
        <div class="">
          {
            featuredArticles
              .slice(1, 4)
              .map((article) => <ArticlePreview {article} />)
          }
        </div>
      </div>
    </section>

    <!-- all blogs link -->

    <section class="section flow">
      <h2 class="heading-2">Travel articles</h2>
      <div class="grid-auto-fit">
        {allArticles.slice(0, 3).map((article) => <ArticlePreview {article} />)}
      </div>
    </section>

    <!-- all blogs link -->

    <!-- Newsletter signup -->
  </div>
</BaseLayout>

<style>
  .home-featured-grid {
    display: grid;
    gap: 1rem;

    @media (min-width: 800px) {
      --overflow-grid-direction: vertical;
      grid-template-columns: 1fr 1fr;

      .home-featured-grid__sidebar {
        --article-preview-layout: alternative;
      }
    }
  }
</style>
