---
const nameOfSite = "Eva Wu's Tech Blog";
---

<a href="/">
  <img aria-hidden="true" src="/images/logo.png" alt="" />
  <p class="visually-hidden">{nameOfSite}</p>
</a>

<style lang="scss">
  @use "../styles/abstracts" as *;

  img {
    width: 90px;
    height: 90px;
    aspect-ratio: 1;
    border-radius: $border-radius-3;
    object-fit: cover;
    background-color: rgba(253, 246, 227, 0.1);
    box-shadow: $box-shadow-3;
  }
</style>
