---
import { useTranslations } from "../utils/translations";

const { locale } = Astro.props;
const { t } = useTranslations(locale);
---

<footer class="site-footer">
  <div class="container margin-block-start-8">
    <p class="fs-400 ml-auto">{t("footer.copyright")}</p>
  </div>
</footer>

<style lang="scss">
  @use "../styles/abstracts" as *;

  .container {
    display: flex;
  }

  .site-footer {
    background-color: $footer-background-color;
    color: $footer-text-color;

    a {
      color: $footer-link-color;
      text-decoration: $footer-link-text-decoration;
      font-family: $footer-link-font-family;

      &:is(:hover, :focus) {
        color: $footer-link-color-hover;
      }
    }
  }
</style>
