---
import LogoLink from "./LogoLink.astro";
import PrimaryNavigation from "./PrimaryNavigation.astro";
import SocialLinks from "./SocialLinks.astro";
---

<footer class="site-footer">
  <div class="container">
    <div class="flex-group align-center">
      <LogoLink />
      <PrimaryNavigation label="footer navigation">
        <li><a href="/articles">Articles</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact</a></li>
      </PrimaryNavigation>
      <SocialLinks />
      <p class="ml-auto">© 2024 Eva Wu 的程式學習筆記</p>
    </div>
  </div>
</footer>

<style lang="scss">
  @use "../styles/abstracts" as *;

  .flex-group {
    width: 100%;
  }

  .site-footer {
    background-color: $footer-background-color;
    color: $footer-text-color;

    a {
      color: $footer-link-color;
      text-decoration: $footer-link-text-decoration;
      font-family: $footer-link-font-family;

      &:is(:hover, :focus) {
        color: $footer-link-color-hover;
      }
    }

    // this styles the .nav in the <PrimaryNavigation> component
    .nav {
      display: flex;
      gap: $navigation-gap;
    }
  }
</style>
