---
import SocialLinks from "./SocialLinks.astro";
---

<footer class="site-footer">
  <div class="container margin-block-start-8">
    <div class="space-between">
      <SocialLinks />
      <p class="ml-auto">© 2025 Eva Wu's Tech Blog</p>
    </div>
  </div>
</footer>

<style lang="scss">
  @use "../styles/abstracts" as *;

  .space-between {
    display: flex;
    justify-content: space-between;
  }

  .site-footer {
    background-color: $footer-background-color;
    color: $footer-text-color;

    a {
      color: $footer-link-color;
      text-decoration: $footer-link-text-decoration;
      font-family: $footer-link-font-family;

      &:is(:hover, :focus) {
        color: $footer-link-color-hover;
      }
    }
  }
</style>
