---
import LogoLink from "./LogoLink.astro";
import PrimaryNavigation from "./PrimaryNavigation.astro";
---

<footer class="site-footer">
  <div class="container">
    <LogoLink />
    <PrimaryNavigation label="footer navigation">
      <li><a href="/about.html">Page 2</a></li>
      <li><a href="#">Page 3</a></li>
      <li><a href="#">Page 4</a></li>
    </PrimaryNavigation>
    <p>Footer content here!</p>
  </div>
</footer>

<style lang="scss">
  @use "../styles/abstracts" as *;

  .site-footer {
    background-color: $footer-background-color;
    color: $footer-text-color;

    a {
      color: $footer-link-color;
      text-decoration: $footer-link-text-decoration;
      font-family: $footer-link-font-family;

      &:is(:hover, :focus) {
        color: $footer-link-color-hover;
      }
    }
  }
</style>
