---
const { class: className, ...rest } = Astro.props;

const socialHandle = "tff";
const socialNetworks = ["instagram", "twitter", "facebook"];
---

<ul class:list={["flex-group", className]} {...rest}>
  {
    socialNetworks.map((socialNetwork) => (
      <li>
        <a
          href={`https://${socialNetwork}.com/${socialHandle}`}
          aria-label={socialNetwork}
        >
          <img src={`/images/${socialNetwork}.svg`} alt="" />
        </a>
      </li>
    ))
  }
</ul>

<style>
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
</style>
