---
const { class: className, ...rest } = Astro.props;
---

<ul class:list={["flex-group", className]} {...rest}>
  <li>
    <a href="https://bsky.app/profile/evaaaaawu.bsky.social" aria-label="bluesky">
      <img src="/images/social-networks/bluesky.svg" alt="bluesky" />
    </a>
  </li>
  <li>
    <a href="https://x.com/evaaaaawutw" aria-label="x">
      <img src="/images/social-networks/x.svg" alt="x" />
    </a>
  </li>
  <li>
    <a href="https://github.com/evaaaaawu" aria-label="github">
      <img src="/images/social-networks/github.svg" alt="github" />
    </a>
  </li>
</ul>

<style>
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
</style>
