@use "../abstracts/" as *;

body {
  font-family: $body-font-family;
  font-weight: $body-font-weight;
  font-size: $body-font-size;
  color: $body-text-color;
  background-color: $body-background-color;
  line-height: $body-line-height;
}

a {
  color: $link-color;
  font-weight: $link-font-weight;
  text-decoration: $link-decoration-default;
}

a:is(:hover, :focus) {
  color: $link-color-hover;
  text-decoration: $link-decoration-hover;
}

input {
  font: $form-input-font;
  border: $form-input-border;
  border-radius: $form-input-border-radius;
  padding: $form-input-padding;
}

ul,
ol {
  padding-left: 1em;
}

ul {
  list-style: disc;
}

ol {
  list-style: decimal;
}

pre,
code {
  border-radius: 10px;
  overflow-x: auto;
}

code {
  color: $color-accent-200;
  font-weight: $font-weight-semi-bold;
}
